.landing{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:#050816;
}

.landing-title{

    color:cyan;

    font-size:60px;

    text-shadow:
        0 0 10px cyan,
        0 0 30px cyan;

}

button{

    margin-top:30px;

    background:black;

    color:cyan;

    border:1px solid cyan;

    padding:15px 30px;

    font-size:20px;

    cursor:pointer;
}